.Cart {
  padding-bottom: 50px;
}

.Cart h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  padding: 40px 15px 30px 15px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--borderGray);
}

.Cart .Cart__elements {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Cart .Cart__elements .Cart__elements-element {
  width: 100%;
  border-bottom: 2px solid var(--borderGray);
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide h3 {
  font-weight: 800;
  font-size: 30px;
  color: var(--black);
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide h2 {
  font-weight: normal;
  margin-top: 10px;
  font-size: 30px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divPrice p {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  margin-top: 12px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divSizes {
  margin-top: 20px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divSizes p {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divSizes ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 15px 0;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divSizes ul :first-child {
  margin-left: 0px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divSizes ul li {
  border: 2px solid var(--black);
  width: 120px;
  height: 40px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divColors {
  margin-top: 20px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divColors p {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divColors ul {
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin: 15px 0;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divColors ul :nth-child(1) {
  background-color: red;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divColors ul :nth-child(2) {
  background-color: gold;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divColors ul :nth-child(3) {
  background-color: aqua;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .ProductDetails__details-divColors ul li {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide {
  display: flex;
  justify-content: flex-end;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide .Cart__elements-icons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide .Cart__elements-icons span {
  font-size: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide .Cart__elements-icons p {
  font-size: 25px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide .Cart__elements__mainImg {
  width: 60%;
  display: flex;
  justify-content: center;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide .Cart__elements__mainImg img {
  width: 100%;
}

.Cart .Cart__elements-total {
  padding-top: 20px;
  color: var(--black);
  font-family: 'Raleway';
}

.Cart .Cart__elements-total p {
  margin-top: 10px;
}

.Cart .Cart__elements-total p span {
  font-weight: bold;
}

.Cart .Cart__elements-total button {
  margin-top: 20px;
  width: 20%;
  border: none;
  outline: none;
  background-color: var(--primary__color);
  color: var(--white);
  text-align: center;
  padding: 0.9rem 4.5rem;
  cursor: pointer;
  text-transform: uppercase;
}
