.Cart {
  padding-bottom: 50px;
}

.Cart h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  padding: 40px 15px 30px 15px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--borderGray);
}

.Cart .Cart__elements {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Cart .Cart__elements .Cart__elements-element {
  width: 100%;
  border-bottom: 2px solid var(--borderGray);
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide h3 {
  font-weight: 800;
  font-size: 30px;
  color: var(--black);
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide h2 {
  font-weight: normal;
  margin-top: 10px;
  font-size: 30px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .allAttributes {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  width: 45%;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .allAttributes p {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  margin-top: 12px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .allAttributes .AttributesOfElement {
  display: flex;
  margin: 25px 0 !important;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .allAttributes .AttributesOfElement .ProductDetails__details {
  border: 2px solid var(--black);
  width: 120px;
  height: 40px;
  cursor: pointer;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-leftSide .allAttributes .AttributesOfElement :first-child {
  margin: 0 !important;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide {
  display: flex;
  justify-content: flex-end;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide .Cart__elements-icons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide .Cart__elements-icons span {
  font-size: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide .Cart__elements-icons p {
  font-size: 25px;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide .Cart__elements__mainImg {
  width: 60%;
  display: flex;
  justify-content: center;
}

.Cart .Cart__elements .Cart__elements-element .Cart__elements-element-rightSide .Cart__elements__mainImg img {
  width: 100%;
}

.Cart .Cart__elements-total {
  padding-top: 20px;
  color: var(--black);
  font-family: 'Raleway';
}

.Cart .Cart__elements-total p {
  margin-top: 10px;
}

.Cart .Cart__elements-total p span {
  font-weight: bold;
}

.Cart .Cart__elements-total button {
  margin-top: 20px;
  width: 20%;
  border: none;
  outline: none;
  background-color: var(--primary__color);
  color: var(--white);
  text-align: center;
  padding: 0.9rem 4.5rem;
  cursor: pointer;
  text-transform: uppercase;
}
