.ProductCart {
    width: 28%;
    text-align: left;
    cursor: pointer;

    .productLink {
        img {
            margin: 0;
        }

        h3,
        p {
            margin-left: 60px;
        }

        h3 {
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 160%;
            color: var(--heavy__gray)
        }

        p {
            color: var(--black);
            margin-top: 5px;
            font-weight: 600;
        }
    }
}

@media(max-width:770px){
    .ProductCart {
        width: 40%;
        margin: auto;
    
        .productLink {
            img {
                margin: 0;
                
            }
    
            h3,
            p {
                margin: 10px 0 0 0 ;
            }


        }
    }
}


@media(max-width:570px){
    .ProductCart {
        width: 70%;    
    }
}