.payment_page h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
  color: var(--pink);
}

.payment_page h3:hover {
  color: var(--pink);
}

.payment {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.payment .payment__products {
  width: 40%;
  margin-bottom: 50px;
}

.payment .payment__products h2 {
  color: var(--black);
  font-size: 20px;
}

.payment .payment__products h1 {
  color: var(--pink);
  margin-top: 30px;
}

.payment .payment__products .payment__products-productDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.payment .payment__products .payment__products-productDetails :first-child {
  margin-top: 0px;
}

.payment .payment__products .payment__products-productDetails .payment__products-productDetails-element {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment .payment__products .payment__products-productDetails .payment__products-productDetails-element .productImgDiv {
  width: 65%;
  display: flex;
  align-items: center;
}

.payment .payment__products .payment__products-productDetails .payment__products-productDetails-element .productImgDiv img {
  width: 25%;
}

.payment .payment__products .payment__products-productDetails .payment__products-productDetails-element .productImgDiv p {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.payment .payment__products .payment__products-productDetails .payment__products-productDetails-element .productImgDiv p span {
  margin-top: 10px;
  color: #00007e;
}

.payment .payment__products .payment__products-productDetails .payment__products-productDetails-element .productPrice {
  color: var(--pink);
}

.payment .payment__form {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 50%;
  padding: 3rem 5rem;
  height: 100%;
}

.payment .payment__form h2 {
  color: var(--black);
}

.payment .payment__form .payment__form-formInputs {
  display: flex;
  flex-direction: column;
}

.payment .payment__form .payment__form-formInputs div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.payment .payment__form .payment__form-formInputs div label {
  font-size: 16px;
  color: #00007e;
}

.payment .payment__form .payment__form-formInputs div input {
  color: var(--pink);
  border: 2px solid var(--pink);
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  margin-top: 5px;
}

.payment .payment__form .payment__form-formInputs div input:active {
  box-shadow: 2px 2px 15px var(--pink) inset;
}

.payment .payment__form .payment__form-formInputs div input::-webkit-outer-spin-button,
.payment .payment__form .payment__form-formInputs div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.payment .payment__form .payment__form-formInputs .Card_information {
  display: flex;
  flex-direction: column;
}

.payment .payment__form .payment__form-formInputs .Card_information .cardPrivateData {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.payment .payment__form .payment__form-formInputs .Card_information .cardPrivateData .inputGroup {
  margin: 0;
  width: 33%;
}

.payment .payment__form .payment__form-formInputs .Card_information .cardPrivateData .inputGroup input {
  width: 100%;
}

.payment .payment__form .payment__form-formInputs button {
  margin-top: 30px;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1em;
  padding: 3px;
  cursor: pointer;
  transition: all .3s;
}

.payment .payment__form .payment__form-formInputs button span {
  background-color: #05062d;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.payment .payment__form .payment__form-formInputs button:hover span {
  background: none;
}

.payment .payment__form .payment__form-formInputs button:active {
  transform: scale(0.9);
}
