.ProductDetails {
    display: flex;
    width: 90%;
    
    justify-content: space-between;
    margin: 4rem auto;

    // align-items: center;
    .ProductDetails__models {
        width: 15%;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        ;

        div {
            width: 80%;
            cursor: pointer;

            img {
                width: 100%;

            }
        }
    }

    .ProductDetails__mainImg {
        width: 45%;

        img {
            width: 70%;
        }
    }

    .ProductDetails__details {
        width: 35%;
        display: flex;
        flex-direction: column;

        h3 {
            font-weight: 800;
            font-size: 30px;
            color: var(--black);
        }

        h2 {
            font-weight: normal;
            margin-top: 10px;
            font-size: 30px;
        }

        .ProductDetails__details-divSizes {
            margin-top: 20px;

            p {
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
            }

            ul {
                display: flex;
                width: 50%;
                justify-content: space-between;
                margin: 15px 0;

                li {
                    border: 2px solid var(--black);
                    padding: .7rem 1rem;
                    cursor: pointer;
                }
            }
        }


        .ProductDetails__details-divColors {
            margin-top: 5px;

            p {
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
            }

            ul {
                display: flex;
                width: 50%;
                justify-content: space-between;
                margin: 15px 0;
                
                li {

                    width: 30px;
                    height: 30px;
                    cursor: pointer;

                }
            }
        }

        .ProductDetails__details-divCapacity {
            margin-top: 20px;

            p {
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
            }

            ul {
                display: flex;
                width: 50%;
                justify-content: space-between;
                margin: 15px 0;

                li {
                    border: 2px solid var(--black);
                    padding: .7rem 1rem;
                    cursor: pointer;
                }
            }
        }


        .ProductDetails__details-divPrice {
            p {
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                margin-top: 10px;
            }

            ul {
                display: flex;
                width: 50%;
                justify-content: space-between;
                margin: 15px 0;

                li {
                    border: 1px solid var(--black);
                    padding: .7rem 1rem;
                    cursor: pointer;
                }
            }
        }

        .ProductDetails__details-divButton {
            margin: 25px 0;

            button {
                width: 65%;
                border: none;
                outline: none;
                background-color: var(--primary__color);
                color: var(--white);
                text-align: center;
                padding: 0.9rem 4.5rem;
                cursor: pointer;
            }
        }

        .ProductDetails__details-divDiscription {
            width: 65%;

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 159.96%;
            }
        }
    }

}

.borderActive {
    // border: 2px solid var(--primary__color) !important;
    transition: .2ms;
    background-color: var(--black);
    color:var(--white);
}

.shadowActive {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    border: 2px solid var(--primary__color) !important;
    outline: none;
    transition: .4s;
}
.disabledButton{
    background-color: gray !important;
    cursor:context-menu !important;
}